.signUp{
    width: 50%;
    margin: 70px auto;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

.signUp label{
    margin-top: 20px;
    display: block;
}

.signUp input{
    margin-top: 10px;
}

.signUp input[type = "submit"]{
    margin-top: 30px;
    padding: 15px 50px;    
    background-color: rgb(58, 58, 58);
    border-radius: 10px;
    color: rgb(218, 218, 218);
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.submit{
    text-align: center;
}

.errs{
    font-size: 12px;
    color:red;
    margin-top: 5px;
}

.errstext{
    color:transparent
}